body {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://thumbs.dreamstime.com/b/cricket-ball-bails-field-60224924.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-menu-help {
    float: right;
    padding-right: 20px;
    list-style: none;
    margin-top: 30px;
}

.nav-menu-help li {
    display: inline-block;
}

.nav-menu-help li a {
    color: brown;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.nav-menu-help li a:hover {
    border: 1px solid gray;
    background-color: white;
}

.topic-help {
    padding-left: 50px;
    font-size: 50px;
}

.box-help {
    width: 800px;
    background-color: rgba(0,0,0,0.9);
    margin: 10% auto;
    padding: 30px;
    color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

